# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

boost_1_53_0
Debug
Release
*.opensdf
*.sdf
*.suo

!Lib/Debug
!Lib/Release

